.profileissuedbooks {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  color: #282829;
}
/* .hrheader{
  border: 1px solid #E3E3E3;
} */

.cardleft {
  border-right: 1px solid #ECECEC;
}
.profiledetails {
  background: #FFFFFF;
border: 1px solid #ECECEC;
border-radius: 5px;
}
.profilestudent{
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  color: rgba(9, 23, 74, 0.54);
}
.profilenameheader{
font-family: 'Montserrat';
font-style: normal;
font-weight: 500;
font-size: 14px;
line-height: 17px;
color: #09174A;
}
.cardname{
font-family: 'Montserrat';
font-style: normal;
font-weight: 600;
font-size: 18px;
line-height: 22px;
color: #282829;
}
.cardmail{
font-family: 'Montserrat';
font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 20px;
color: #414141;
}
.profiledetails{

}
.cardrightvalues{
font-family: 'Montserrat';
font-style: normal;
font-weight: 500;
font-size: 14px;
line-height: 17px;
color: #414141;

}
.cardrightdata{
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  color: #8B8B8B;
}
.profile-table-data{
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  color: #09174A;
}
.profile-table-headers{
  font-family: 'Montserrat';
font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 20px;
color: #646464;
}

